DB_HOST=localhost
DB_PORT=<YOUR_PORT>
DB_USER=postgres
DB_PASSWORD=<YOUR_DB_PASSWORD>
DB_NAME=<YOUR_DATABASE_NAME>

POSTGRES_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/postgres
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

EMAIL_SENDER=<YOUR_SENDER_EMAIL>
EMAIL_PASSWORD=<YOUR_EMAIL_APP_PASSWORD>
EMAIL_RECIPIENTS=<YOUR_RECIPIENT_EMAIL>