# == Environment ==
ENVIRONMENT=development # Options: development, production

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password

DATABASE_URL=postgresql://postgres:your_password@localhost:5432/your_database_name

# == Email Configuration ==
EMAIL_SENDER=your_gmail@gmail.com
EMAIL_PASSWORD=your_app_password_here
EMAIL_RECIPIENTS=division1@company.com,division2@company.com,division3@company.com

BASE_URL=http://localhost:5173